.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cfcfcf;
}

.wrapper ul{
  margin: 0;
  padding: 0;
  display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapper ul li {
  list-style-type: none;
  margin-right: 20px;
  
}

.logo {
  padding: 1em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
.login input {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  margin-bottom: 15px;
}
.login button {
  width: 100px;
  border: 1px solid #fefefe;
  border: #2a34e8;
}
